body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 5px;
    display: flex; 
    align-items: center;
}

.menu-toggle {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px; 
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-grow: 1; 
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 30px;
    border-radius: 8px; 
}

nav {
    position: fixed;
    top: 0;
    left: -200px; 
    width: 200px;
    height: 100%;
    background: #35424a;
    transition: left 0.3s;
    z-index: 1000; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 60px; 
}

nav ul li {
    display: block; 
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

nav.active {
    left: 0; 
}

main {
    padding: 20px;
    margin: 0 auto; /* Центрирование main на больших экранах */
    max-width: 1000px; /* Ограничение ширины для удобства чтения */
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    width: 100%;
}

h2 {
    color: #333;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #DDD; 
    padding-bottom: 10px; 
}

#info {
    display: flex;
    align-items: flex-start;
    margin-top: 0;
    flex-wrap: wrap; /* Позволяет элементам переноситься */
}

#info img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px; /* Отступ снизу для изображений */
}

#info p {
    line-height: 1.4;
    margin: 15px 0;
    flex: 1; /* Растягивает абзац на всю ширину контейнера */
}

#info p.first {
    font-size: 1.2em;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    #info {
        flex-direction: column; /* Переключение на вертикальную колонку */
        align-items: center; /* Центрирование контента */
    }

    #info img {
        margin-right: 0; /* Убираем отступ справа */
    }

    .title {
        font-size: 1.5em;
    }

    .text {
        font-size: 1em;
    }

    .footer-text {
        font-size: 0.8em;
    }

    .logo img {
        width: 40px; /* Изменение размеров изображения на мобильных */
        height: auto;
    }

    .logo h1 {
        font-size: 1.2em; /* Изменение размера текста на мобильных */
    }
    
    main {
        padding: 10px; /* Уменьшение отступа по краям */
    }
}
